.bg0 {
    background-image: url(/img/aman.jpg);
}

.bg1 {
    background-image: url(/img/bubblekid.jpg);
}

.bg2 {
    background-image: url(/img/gyoja.jpg);
}

.bg3 {
    background-image: url(../img/partyppl.jpg);
}


// 배경처리 : 찌그러지지않게 처리하기 
#mainBanner {
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                height: 0;
                // 0을 넣은 이유 한번 만 더 설명해주세요!
                padding-top: 43%;
                // width 100% 조건이 내장되어야 한다.
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }

}

// postion abs를 넣은 후 아래를 기입 
#mainBanner .btns {
    bottom: 2rem;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 10000;
    line-height: 2rem;
}

.d-flex {
    display: flex;
}

.abs {
    position: absolute;
}

// -------------------------------

.border {
    border: 1px solid white;
    opacity: 0.5;
}

// 

#mainBanner .swiper-pagination-bullet {
    position: relative;

    border-radius: 0;
    width: 4rem;
    height: 8px;
    // background-color: white;
    opacity: 0.9;
    margin: 0;

    background-color: transparent;


}

.swiper-pagination-bullet:before {
    content: "";
    position: absolute;
    display: block;

    height: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    opacity: 0.2;
}


#mainBanner .swiper-pagination-bullet-active {
    background-color: transparent;
}

#mainBanner .swiper-pagination-bullet-active::before {
    height: 3px;
    // background-color: white;
    opacity: 1;
}



#mainBanner .swiper-pagination {
    display: flex;
    align-items: center;
    // display: flex;
}

.unset-p {
    position: unset !important;

}

.auto-w {
    width: auto !important;
}

// 