// 배경처리 : 찌그러지지않게 처리하기 
#mainBanner {
    .swiper-slide {
        height: 0;
        // 0을 넣은 이유 한번 만 더 설명해주세요!
        padding-top: 43%;
        // width 100% 조건이 내장되어야 한다.
        background-repeat: no-repeat;
        background-size: 100%;
    }

}

.bg0 {
    background-image: url(/img/aman.jpg);
}

.bg1 {
    background-image: url(/img/bubblekid.jpg);
}

.bg2 {
    background-image: url(/img/gyoja.jpg);
}

.bg1 {
    background-image: url(../img/partyppl.jpg);
}