.bg0 {
  background-image: url(/img/aman.jpg);
}

.bg1 {
  background-image: url(/img/bubblekid.jpg);
}

.bg2 {
  background-image: url(/img/gyoja.jpg);
}

.bg3 {
  background-image: url(../img/partyppl.jpg);
}

#mainBanner .swiper .swiper-wrapper .swiper-slide {
  height: 0;
  padding-top: 43%;
  background-repeat: no-repeat;
  background-size: 100%;
}

#mainBanner .btns {
  bottom: 2rem;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 10000;
  line-height: 2rem;
}

.d-flex {
  display: flex;
}

.abs {
  position: absolute;
}

.border {
  border: 1px solid white;
  opacity: 0.5;
}

#mainBanner .swiper-pagination-bullet {
  position: relative;
  border-radius: 0;
  width: 4rem;
  height: 8px;
  opacity: 0.9;
  margin: 0;
  background-color: transparent;
}

.swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  opacity: 0.2;
}

#mainBanner .swiper-pagination-bullet-active {
  background-color: transparent;
}

#mainBanner .swiper-pagination-bullet-active::before {
  height: 3px;
  opacity: 1;
}

#mainBanner .swiper-pagination {
  display: flex;
  align-items: center;
}

.unset-p {
  position: unset !important;
}

.auto-w {
  width: auto !important;
}