#mainBanner .swiper-slide {
  height: 0;
  padding-top: 43%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg0 {
  background-image: url(/img/aman.jpg);
}

.bg1 {
  background-image: url(/img/bubblekid.jpg);
}

.bg2 {
  background-image: url(/img/gyoja.jpg);
}

.bg1 {
  background-image: url(../img/partyppl.jpg);
}